
.vs/Project-semester-3/FileContentIndex/8c261f6b-1425-4804-8d93-ecf3b88b7070.vsidx
.vs/Project-semester-3/FileContentIndex/read.lock
.vs/Project-semester-3/v17/.suo
.vs/Project-semester-3/v17/TestStore/0/testlog.manifest
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Project-semester-3/v17/TestStore/0/000.testlog
.vs/Project-semester-3/FileContentIndex/08b33233-4069-400c-aa85-562b80e9ae46.vsidx
.vs/Project-semester-3/FileContentIndex/d8ef5829-5d5a-43a2-905d-e79070fb94ea.vsidx
.vs/Project-semester-3/FileContentIndex/ab6d8730-8c42-41d7-8710-1f75b6e27bf2.vsidx
*.vsidx
